# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1dd667f77477af4949f8e9cd92dc563ebb8a1478660491ce7bead01f6cccbe7bfbb82b32cac5bfab5dcc90181447f041313741e3ca0fe079bf33c6e641a4e407

test:
  secret_key_base: 944a89b49967b6550aa37a5ca485e437ed52e247ca3b59829a2e6f9f077acb36e2f6b67929b5370c7e9f30c7fbf9eb2c76a524c5b8f2379e68ed27269f633eea

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
